In [1]:
# The Macro Impacts of Micro-Climates on the Energy Consumption of Urban Buildings
from config import dailyTemp
from datetime import timedelta, date
import fetch
from keplergl import KeplerGl
import pandas as pd

In [2]:
weatherStats = pd.read_json('../processed_data/temp_K_stats/F.json', orient='index')
weatherStats

                 std        var        avg        min        max
2015-07-01  2.621077   6.870045  64.032618  56.235499  71.977534
2015-05-01  4.788835  22.932945  54.572467  48.173457  62.881349
2015-01-01  4.976629  24.766833  26.027517  21.594288  35.688099
2015-03-01  2.299602   5.288170  26.190627  22.206171  32.664663
2015-11-01  5.429224  29.476470  60.054164  54.644459  69.693696
...              ...        ...        ...        ...        ...
2015-12-24  7.589866  57.606059  53.168745  39.333747  61.496083
2015-10-24  8.155466  66.511626  55.999041  34.242024  66.719917
2015-02-24  7.595418  57.690374  -8.637581 -27.687825  15.550214
2015-10-25  3.675358  13.508254  32.933588  26.899970  44.886403
2015-02-28  3.963956  15.712948  18.068264  -0.927602  23.626539

[254 rows x 5 columns]

In [3]:
weatherStats.sort_values(by=['var'], ascending=False, inplace=True)

weatherStats.head()

                  std         var        avg        min        max
2015-10-19  17.685308  312.770124  47.392338   1.915522  70.855227
2015-02-20  15.848403  251.171887 -12.046808 -40.604616  14.382203
2015-01-31  15.442605  238.474034   5.673800 -31.844778  33.141524
2015-12-20  14.789917  218.741642  29.427599  -3.628370  50.821657
2015-04-09  14.531061  211.151741  55.817255  29.754000  78.098731

In [5]:
def getDayMap(m,d):
    df = fetch.get_weather(usecols='time,lat,lon,temp_K', datetime=date(2015,m,d))
    df['time'] = df['time'].apply(lambda x: pd.Timestamp(x[:10] + ' ' + x[11:]))
    df['temp_K'] = df['temp_K'].apply(lambda x: (x-273)*1.8 +32)

    return KeplerGl(height=600,data={'day': df}, config=dailyTemp)

In [6]:
oct19 = getDayMap(10,19)

oct19

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['day'], 'id': 'fja631mn9', '…

In [7]:
feb20 = getDayMap(2,20)

feb20

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['day'], 'id': 'fja631mn9', '…

In [8]:
jan31 = getDayMap(1,31)

jan31

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['day'], 'id': 'fja631mn9', '…

In [9]:
dec20 = getDayMap(12,20)

dec20

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['day'], 'id': 'fja631mn9', '…

In [10]:
apr9 = getDayMap(4,9)

apr9

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['day'], 'id': 'fja631mn9', '…